<head></head>
<body>
	<p>Tere</p>
	<script>
(async () => {
  const rawResponse = await fetch('http://localhost:8080/chat/general/new-message', {
    method: 'POST',
    headers: {
      'Accept': 'application/json',
      'Content-Type': 'application/json'
    },
    body: JSON.stringify({user: "myself", message: "Mina siin!"})
  });
  const content = await rawResponse.json();

  console.log(content);
})();
	</script>
</body>